.recent-posts {
  padding: 2rem;
}

.recent-posts h2 {
  font-weight: bold;
  color: #002855;
}

.card {
  /* background-color: #002855; */
  color: #fff;
  border: none;
  position: relative;
  height: 24em; /* Fix card height */
}

.card .arrow-circle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #002855;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  rotate: -15deg;
}

.card-body {
  flex: 1; /* Equalizes card heights when using flexbox */
  overflow: hidden; /* Prevents overflow */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  color: #002855;
}

.pagination button {
  background: none;
  border: 1px solid #002855;
  color: #002855;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.see-all {
  text-align: right;
}

.see-all a {
  color: #002855;
  text-decoration: none;
  font-weight: bold;
}

.hero-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full height */
  overflow: hidden;
}

.hero-background {
  position: absolute;
  width: 100%;
  height: 80%;
  object-fit: cover; /* Ensure it covers the area */

  opacity: 20%;
}
.custom-card {
  background-color: #00509e;
  border: none;
  border-radius: 8px;
  color: white;
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.custom-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.custom-card .card-text {
  font-size: 0.9rem;
}

.btn-outline-light {
  border-color: white;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-light:hover {
  background-color: white;
  color: #002855;
}
.custom-card {
  background-color: white;
  border: none;
  border-radius: 8px;
  color: black;
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.custom-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.custom-card .card-text {
  font-size: 0.9rem;
}

.btn-outline-light {
  border-color: white;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-light:hover {
  background-color: white;
  color: #002855;
}

@media screen and (max-width: 480px){
  .aboutUsHeaderContent{
    width: 95% !important; 
  }
}